.ScriptTextArea{
    height:450px !important;
    overflow-y:auto;
    margin-bottom: 5px;
    border: 1px solid #808080;
}
.KeywordTextArea {
    margin-bottom: 5px;
    border: 1px solid #808080;
}
.keywordError span{
    font-size:12px;
}
.ScriptTable-container {
    max-height: 550px;
    overflow-y: auto !important;
    border: 1px solid #808080;
}
.scriptTable th{
    text-align: center;
    vertical-align: middle;
}
.scrptBtn {
    background-color: #003366 !important;
    color: white !important;
}
.scrptBtn:hover{
   background-color: #0059b2 !important;
    color:white;
}
.cntrlItm{
    text-align:center;
    vertical-align: middle;
}
.cntrlBtn{
    background-color: #003366;
    color:white;
    width:80px !important;
    margin-bottom: 5px;
}
.cntrlBtn:hover{
    background-color: #0059b2;
    color:white;
}
.updtBtn {
    width: 200px !important;
    background-color: #003366;
    color:white;
}
.updtBtn:hover {
    background-color: #0059b2;
    color:white;
}